/* 공통 */

footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

main {
    display: block;
    unicode-bidi: isolate;
}

body, html {
    font-size: 15px;
}

blockquote, body, code, dd, div, dl, dt, fieldset,
form, h1, h2, h3, h4, h5, h6, input, legend, li,
ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: rgb(247, 249, 250);
}

[role=button], a, button, input[type=button],
input[type=reset], input[type=submit] {
    cursor: pointer;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

@import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
@import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
@font-face{
    font-family:OhouseIcon;src:url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
    src:url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
    format("embedded-opentype"),
    url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
    format("woff2"),
    url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
    format("woff"),
    url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
    format("truetype"),
    url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
    format("svg");}
html{
    font-family:'Pretendard Variable',sans-serif;
    letter-spacing:-0.3px;-webkit-font-smoothing:antialiased;}


/* 네비 */

.all {
    position: relative;
    padding: 0px 0px 40px;
    flex: 0 0 auto;
}

.myhome-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.page-navigation {
    font-size: 18px;
    overflow: visible;
    border-bottom: 1px solid #ededed;
    width: 100%;
}

.page-navigation > ul {
    transform: translateX(0px);
    text-align: center;
    white-space: nowrap;
}

.page-navigation__item {
    display: inline-block;
    user-select: none;
    margin: 0 5px;
}

.page-navigation__item  > a.active {
    color: #647FBC;
}

.page-navigation__item > a {
    display: block;
    padding: 0 10px;
    font-weight: 700;
    position: relative;
    height: 60px;
    line-height: 60px;
    transition: color .15s ease;
}



/* 나의 다이어리 */
.main {
    width: 100%;
    max-width: 1136px;
    margin: 0px auto;
}

.header {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: rgb(47, 52, 56);
}

.share-button {
    top: 16px;
    position: relative;
    flex-shrink: 0;
    height: 0px;
    margin-left: 16px;
    transform: translateY(-50%);
}

.drop-down {
    position: relative;
    display: inline-block;
}

.share-button-style {
    margin: 0px 0px 0px 6px;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0px 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: rgb(47, 52, 56);
    border: 1px solid rgb(230, 230, 230);
    position: relative;
    vertical-align: middle;
    transform: translateY(-50%);
}

.share-button-style:hover {
    background-color: rgb(247, 249, 250);
}

.share-icon {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}

.share-icon::before {
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\ef03";
    font-size: 18px;
    line-height: 1;
}

.share-text {
    vertical-align: middle;
    margin: 0 6px;
}

.profile-wrap {
    margin-top: 8px;
    text-align: center;
}

.profile-img {
    object-fit: cover;
    width: 86px;
    height: 86px;
    border-radius: 50%;
}

.profile-name {

    font-size: 20px;
    line-height: 28px;
    display: block;
    margin-top: 8px;
    font-weight: 700;
    color: rgb(47, 52, 56);
}

.m-sticky-container {
    position: sticky;
    top: 81px;
    transition: top 0.1s;
    z-index: 1;
}

.nav-wrap {
    overflow-x: hidden;
    width: 100%;
}

nav {
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0px -5px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    justify-content: center
}

.nav-a {
    margin: 0px 5px;
}

.nav-button {
    margin: 0px;
    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    padding: 12px 6px;
}

.p-wrap {
    font-weight: 700;
    padding: 4px;
    margin: -4px;
}

.nav-button.active .p-wrap::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #647FBC;
    transition: transform 0.2s;
    transform: scale(1);
}

.tag-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    position: relative;
}

.active.nav-button .tag-name{
    color: #647FBC;
}

.nav-hr {
    margin: 0px;
    padding: 0px;
    height: 1px;
    border: none;
    background-color: rgb(234, 237, 239);
}

.nav-footer {
    padding-left: 0px;
    padding-right: 0px;
    margin: 2px 0px 0px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    height: 30px;
    margin: 2px 0px 0px;
    padding: 10px 16px;
}

.update {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.total {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    display: none;
}

.check-number {
    color: #647FBC;
}

.button-wrap {
    margin-left: auto;
    position: absolute;
    right: 0px;
}

.update-button {
    display: inline-block;
    margin-top: 0px;
    border: none;
    background: none;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 6px;
    color: #647FBC;
    font-weight: 700;
}

.update-button:hover {
    background-color: rgb(247, 249, 250);
}

.update-div {
    display: none;
}

.remove {
    display: inline-block;
    margin: 0px 0px 0px 6px;
    background: none transparent;
    border: none;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 6px;
    color: rgb(194, 200, 204);
    font-weight: 700;

}

.cancle {
    display: inline-block;
    margin: 0px 0px 0px 6px;
    border: none;
    background: none;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 6px;
    font-weight: 700;
    color: rgb(130, 140, 148);
}

.cancle:hover {
    background-color: rgb(247, 249, 250);
}

.remove.active {
    color: rgb(130, 140, 148);
}

.remove.active:hover {
    background-color: rgb(247, 249, 250);
}

/* 사진 시작 */

.diary-container {
    overflow-x: hidden;
    width: 100%;
}

.diary-container-inner {
    padding-top: 0px;
    padding-bottom: 0px;
    transform: translateY(0px);
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.diary-container-inner > div {
    width: calc(25% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.diary-div {
    position: relative;
    z-index: 0;
}

.diary-img-wrap {
    height: 269px;
    width: 269px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    background: rgb(234, 237, 239);
}

.diary-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 300ms;
}

.more-icon {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 12px;
}

.date-tag {
    position: absolute;
    z-index: 1;
    left: 12px;
    bottom: 12px;
}

.tag-span {
    font-size: 12px;
    padding: 0px 6px;
    color: rgb(255, 255, 255);
    background-color: rgba(33, 38, 41, 0.8);
    display: inline-block;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
}


/* 마우스 올려 놓으면 */
.diary-div:hover .tag-span {
    display: none;
}

.diary-div:hover .info {
    height: 269px;
    width: 269px;
    position: absolute;
    background-color: black;
    border-radius: 4px;
    opacity: 0.3;
}

.diary-div:hover .diary-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.diary-div:hover .diary-content {
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 90%;
    left: 52%;
    height: 37px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.checkbox {
    position: absolute;
    inset: 0px;
    z-index: 10;
    cursor: pointer;
    display: none;
}

.checkbox-inner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    transition: border-color 0.1s, background-color 0.1s;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox.active .checkbox-inner {
    border: #647FBC;
    background-color: #647FBC;
}


.checkbox-in {
    position: absolute;
    top: 3.6px;
    left: 3px;
    width: 0px;
    height: 12px;
    transition: width 0.2s 0.1s;
}

.checkbox-span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: top;
    color: rgb(255, 255, 255);
}

.checkbox-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\e958";
    font-size: 12px;
    line-height: 1;
    color: rgb(255, 255, 255);
}

.checkbox-input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}

/* 토스트 */

.toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 470px;
    overflow: visible;
    opacity: 0;
    padding-bottom: 10px;
    flex-direction: column;
    transition: opacity 0.7s;
}

.toast-wrap {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: rgb(47, 52, 56);
    color: rgb(206, 206, 206);
    font-size: 14px;
    line-height: 24px;
}

.toast-text {
    flex: 1 0 0px;
    min-width: 0px;
    margin: 0px;
    text-align: center;
    white-space: pre-line;
}

.toast.show {
    opacity: 1;
    transition: opacity 0.7s;
}

.toast.hide {
    opacity: 0;
    transition: opacity 0.5s;
}

/* 결과 존재x */

.user-project-feed__empty {
    margin: 50px auto;
    text-align: center;
    font-size: 15px;
    color: #757575;
}

.diary-div {
    position: relative;
    overflow: hidden;
}

/* hover 시 반투명 회색 배경 */
.diary-div::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.diary-div:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
}

/* 제목/내용 기본 숨김 */
.diary-title,
.diary-content {
    position: absolute;
    z-index: 2;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 제목 위치 */
.diary-title {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    width: 80%;
}

/* 내용 위치 */
.diary-content {
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    width: 85%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* hover 시 텍스트 등장 */
.diary-div:hover .diary-title,
.diary-div:hover .diary-content {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* hover 시 기존 태그 제거 */
.diary-div:hover .tag-span {
    display: none;
}



/*================================================================================================*/
/*  AI 추천 컨텐츠  */
/*================================================================================================*/

/* 버튼 감싸는 박스 (오로라 포함) */
.ai-button-wrapper {
    position: relative;
    display: block;
    width: fit-content;
    margin-left: 20px;
    margin-right: 0;      /* 오른쪽 여백 */
    margin-top: 20px;         /* 위 여백 */
    margin-bottom: 20px;
}

/* ==========================
      버튼 스타일 (깔끔)
========================== */
.galaxy-btn {
    position: relative;
    z-index: 5;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    background: linear-gradient(120deg,
    #c7b7ff,
    #b8c0ff,
    #a5b4ff,
    #8ab8ff
    );

    background-size: 300% 300%;
    animation: rainbowFlow 8s ease infinite;

    box-shadow: 0 8px 25px rgba(150, 170, 255, 0.6);
    transition: 0.25s ease;
}

@keyframes rainbowFlow {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.galaxy-btn:hover {
    transform: scale(1.12);
    box-shadow: 0 14px 40px rgba(150, 170, 255, 0.9);
}

.galaxy-btn:active {
    transform: scale(0.95);
}

/* ==========================
      인풋 박스 (버튼 아래)
========================== */

.ai-input-wrap {
    position: absolute;
    top: 50px;      /* 버튼 아래 */
    left: 0;        /* 오른쪽 대신 왼쪽 정렬 */
    display: none;
    z-index: 10;
}

.ai-input {
    width: 320px;
    padding: 12px 16px;
    font-size: 14px;

    background: linear-gradient(
            135deg,
            rgba(180,150,255,0.32),
            rgba(150,200,255,0.25)
    );

    border: 1px solid rgba(150,150,255,0.35);
    border-radius: 14px;
    outline: none;
    backdrop-filter: blur(6px);

    color: #2c2c3c;
    transition: 0.25s ease;
}

.ai-input:focus {
    border-color: rgba(120, 150, 255, 0.7);
    box-shadow: 0 0 14px rgba(120, 150, 255, 0.55);
}

.ai-input::placeholder {
    color: rgba(30, 45, 150, 0.75);
}

/* ================================
        ✦ 귀여운 파스텔 말풍선
================================ */
.result-box {
    position: absolute;
    top: -50px;
    left: 120%;

    min-width: 260px;
    max-width: 330px;

    padding: 20px 24px;

    /* 부드러운 파스텔 그라데이션 */
    background: linear-gradient(
            135deg,
            rgba(245, 230, 255, 0.85),
            rgba(225, 235, 255, 0.85),
            rgba(240, 245, 255, 0.95)
    );

    border-radius: 22px;
    border: none;

    box-shadow:
            0 8px 25px rgba(150, 160, 255, 0.28),
            0 0 14px rgba(255, 255, 255, 0.6) inset;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    font-family: "Pretendard Variable", sans-serif;
    color: #4d4d7c;
    line-height: 1.6;

    display: none;
    animation: resultPop 0.35s ease forwards;

    position: absolute;
    z-index: 30;

    /* 부드러운 테두리 광택 */
    border-image: linear-gradient(120deg, #e8d9ff, #d8e4ff, #eef0ff) 1;
}

/* ✦ 말풍선 꼬리 (귀엽고 통통하게) */
.result-box::after {
    content: "";
    position: absolute;

    left: -15px;
    top: calc(50% - 8px);
    transform: translateY(-50%);

    width: 0;
    height: 0;

    border-right: 15px solid rgba(245, 230, 255, 0.85);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    filter: drop-shadow(-3px 2px 3px rgba(180, 180, 255, 0.25));
}

/* ✦ 제목 */
.result-title {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 8px;
    color: #6a62b0;
    letter-spacing: -0.2px;
}

/* ✦ 추천 여행지 텍스트 */
.result-place {
    font-size: 16px;
    font-weight: 900;
    color: #4038a0;
    margin-top: 4px;
    letter-spacing: -0.3px;
}

/* ✦ 부드러운 팝 애니메이션 */
@keyframes resultPop {
    0% {
        opacity: 0;
        transform: translateY(8px) scale(0.92);
    }
    60% {
        opacity: 1;
        transform: translateY(0) scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}


.spinner {
    width: 30px;
    height: 30px;
    border: 3px solid #ddd;
    border-top: 3px solid #647FBC;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    display: none;
    position: fixed; /* 스크롤 상관없이 항상 가운데 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 가운데로 이동 */
    z-index: 100000;
}

nav {
    position: relative;
    z-index: 1; /* or 0 */
}